.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-between;
}

form {
    min-height: 266px;
}

.error {
    color: red;
}

.message {
    color: green;
}