
.formWrapper {
    width: 100%;
}

.oddsForm {
    min-height: 0;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.formControl {
    margin-right: 5px;
}

.formControl input {
    border: 1px solid lightslategrey;
    border-radius: 3px;
    outline: none;
    height: 30px;
}

.formControl input::placeholder {
    color: lightslategrey;
    text-align: center;
}

.oddsForm button {
    width: 100%;
    height: 30px;
    border: 1px solid lightslategrey;
    background-color: transparent;
    width: 100px;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    color: lightslategrey;
    border-radius: 3px;
}

.getEventsViews {
    margin-bottom: 25px;
}
